.country-card {
  cursor: pointer;
  min-width: 280px;
  width: 15vw;
  height: 40vh;

  margin: 25px;

  text-align: center;
  border-radius: 10px;
}

.country-card .flag-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 55%;
  overflow: hidden;
  border-radius: 10px 10px 0px 0px;
  transition: all 0.3s ease;
}

.country-card .flag-container img {
  min-width: 100%;
  height: 100%;
  object-fit: cover;

  transition: all 0.3s ease;
}

.country-card:hover .flag-container {
  height: 50%;
}

.country-card:hover .flag-container img {
  transform: scale(120%);
}

.country-desc {
  text-align: left;

  padding: 0px 15px;

  display: flex;
  justify-content: center;
  flex-direction: column;
}
